In [4]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [5]:
cd gdrive/MyDrive/Datasets/Loan\ Prediction

/content/gdrive/MyDrive/Datasets/Loan Prediction

In [30]:
import pandas as pd
import numpy as np
import re

In [46]:
data = pd.read_csv('train_ctrUa4K.csv')

In [47]:
data=data.drop(['Loan_ID'],axis=1)

In [48]:
data.head()

  Gender Married Dependents  ... Credit_History Property_Area  Loan_Status
0   Male      No          0  ...            1.0         Urban            Y
1   Male     Yes          1  ...            1.0         Rural            N
2   Male     Yes          0  ...            1.0         Urban            Y
3   Male     Yes          0  ...            1.0         Urban            Y
4   Male      No          0  ...            1.0         Urban            Y

[5 rows x 12 columns]

In [51]:
data.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [50]:
data['Married'] = data['Married'].fillna(data['Married'].mode()[0])
data['Dependents'] = data['Dependents'].fillna(data['Dependents'].mode()[0])
data['Gender'] = data['Gender'].fillna(data['Gender'].mode()[0])
data['Self_Employed'] = data['Self_Employed'].fillna(data['Self_Employed'].mode()[0])
data['LoanAmount'] = data['LoanAmount'].fillna(data['LoanAmount'].mode()[0])
data['Loan_Amount_Term'] = data['Loan_Amount_Term'].fillna(data['Loan_Amount_Term'].mode()[0])
data['Credit_History'] = data['Credit_History'].fillna(data['Credit_History'].mode()[0])

In [52]:
for i in range(0,len(data['Dependents'])):
    data['Dependents'][i] = re.sub('[^0-9]',' ',data['Dependents'][i])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
data.shape

(614, 13)

In [45]:
data.head()

  Gender Married Dependents  ... Credit_History Property_Area  Loan_Status
0   Male      No          0  ...            1.0         Urban            Y
1   Male     Yes          1  ...            1.0         Rural            N
2   Male     Yes          0  ...            1.0         Urban            Y
3   Male     Yes          0  ...            1.0         Urban            Y
4   Male      No          0  ...            1.0         Urban            Y

[5 rows x 12 columns]

In [ ]:
data.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [ ]:
data['Gender'] = data['Gender'].fillna(data['Gender'].mode()[0])
data['Married'] = data['Married'].fillna(data['Married'].mode()[0])
data['Dependents'] = data['Dependents'].fillna(data['Dependents'].mode()[0])
data['Self_Employed'] = data['Self_Employed'].fillna(data['Self_Employed'].mode()[0])
data['LoanAmount'] = data['LoanAmount'].fillna(data['LoanAmount'].mode()[0])
data['Loan_Amount_Term'] = data['Loan_Amount_Term'].fillna(data['Loan_Amount_Term'].mode()[0])
data['Credit_History'] = data['Credit_History'].fillna(data['Credit_History'].mode()[0])

In [53]:
data.head()

  Gender Married Dependents  ... Credit_History Property_Area  Loan_Status
0   Male      No          0  ...            1.0         Urban            Y
1   Male     Yes          1  ...            1.0         Rural            N
2   Male     Yes          0  ...            1.0         Urban            Y
3   Male     Yes          0  ...            1.0         Urban            Y
4   Male      No          0  ...            1.0         Urban            Y

[5 rows x 12 columns]

In [56]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [58]:
data.head(3)

   Gender  Married Dependents  ...  Credit_History  Property_Area  Loan_Status
0       1        0          0  ...             1.0              2            1
1       1        1          1  ...             1.0              0            0
2       1        1          0  ...             1.0              2            1

[3 rows x 12 columns]

In [57]:
data['Gender']=le.fit_transform(data['Gender'])
data['Married']=le.fit_transform(data['Married'])
data['Education']=le.fit_transform(data['Education'])
data['Self_Employed']=le.fit_transform(data['Self_Employed'])
data['Property_Area']=le.fit_transform(data['Property_Area'])
data['Loan_Status']=le.fit_transform(data['Loan_Status'])

In [59]:
x=data.iloc[:,0:-1]
y=data.iloc[:,-1]

In [72]:
test=pd.read_csv('test_lAUu6dG.csv')

In [73]:
test.head()

    Loan_ID Gender Married  ... Loan_Amount_Term Credit_History Property_Area
0  LP001015   Male     Yes  ...            360.0            1.0         Urban
1  LP001022   Male     Yes  ...            360.0            1.0         Urban
2  LP001031   Male     Yes  ...            360.0            1.0         Urban
3  LP001035   Male     Yes  ...            360.0            NaN         Urban
4  LP001051   Male      No  ...            360.0            1.0         Urban

[5 rows x 12 columns]

In [74]:
test=test.drop(['Loan_ID'],axis=1)

In [79]:
test.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [78]:
test['Gender'] = test['Gender'].fillna(test['Gender'].mode()[0])
test['Dependents'] = test['Dependents'].fillna(test['Dependents'].mode()[0])
test['Self_Employed'] = test['Self_Employed'].fillna(test['Self_Employed'].mode()[0])
test['LoanAmount'] = test['LoanAmount'].fillna(test['LoanAmount'].mode()[0])
test['Loan_Amount_Term'] = test['Loan_Amount_Term'].fillna(test['Loan_Amount_Term'].mode()[0])
test['Credit_History'] = test['Credit_History'].fillna(test['Credit_History'].mode()[0])

In [82]:
test['Dependents'].value_counts()

0     210
2      59
1      58
3      40
Name: Dependents, dtype: int64

In [81]:
for i in range(0,len(test['Dependents'])):
    test['Dependents'][i] = re.sub('[^0-9]',' ',test['Dependents'][i])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [83]:
data.head()

   Gender  Married Dependents  ...  Credit_History  Property_Area  Loan_Status
0       1        0          0  ...             1.0              2            1
1       1        1          1  ...             1.0              0            0
2       1        1          0  ...             1.0              2            1
3       1        1          0  ...             1.0              2            1
4       1        0          0  ...             1.0              2            1

[5 rows x 12 columns]

In [86]:
test.head()

   Gender  Married Dependents  ...  Loan_Amount_Term  Credit_History  Property_Area
0       1        1          0  ...             360.0             1.0              2
1       1        1          1  ...             360.0             1.0              2
2       1        1          2  ...             360.0             1.0              2
3       1        1          2  ...             360.0             1.0              2
4       1        0          0  ...             360.0             1.0              2

[5 rows x 11 columns]

In [85]:
test['Gender']=le.fit_transform(test['Gender'])
test['Married']=le.fit_transform(test['Married'])
test['Education']=le.fit_transform(test['Education'])
test['Self_Employed']=le.fit_transform(test['Self_Employed'])
test['Property_Area']=le.fit_transform(test['Property_Area'])

In [108]:
from sklearn.ensemble import RandomForestClassifier
RF=RandomForestClassifier()

In [109]:
RF.fit(x,y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [110]:
ypred=RF.predict(test)

In [111]:
tmp=pd.read_csv('test_lAUu6dG.csv')

In [112]:
z=tmp['Loan_ID']

In [115]:
results=pd.concat([z,pd.DataFrame(ypred)], axis=1)

In [116]:
results.columns=['Loan_ID', 'Loan_Status']

In [117]:
results.head()

    Loan_ID  Loan_Status
0  LP001015            1
1  LP001022            1
2  LP001031            1
3  LP001035            1
4  LP001051            1

In [119]:
results.to_csv('Loan_Prediction_output.csv', index=False)